.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:rgb(255, 255, 255);
  margin-bottom:0;
}

footer {
  margin-top: 2%;
  background-color: violet;
  height: 5%;
}