.list-group-my {
    width: 50%;
    margin-left: 24%;
    margin-right: auto;
    float: left;
    border-radius: 5px;
}

p {
    text-align: left;
}

h3 {
    margin-top: 5%;
    margin-bottom: 3%;
}

.fa-thumbs-up {
    color: rgb(2, 184, 2);
}

.fa-thumbs-down {
    color: red;
}

/*.btn {
    height: 10%;
}*/

.xBtn {
    color: red;
    font-size: 25px;
}

.removeBtn:hover {
background-color: rgb(247, 157, 157);
}

.removeBtn {
    background-color: white;
    border: red;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.viewMore {
    border-radius: 10px;
    border: none;
    height: fit-content;
}

.viewMore:hover {
    background-color: rgb(204, 203, 203);
}

.loadMore {
    margin-bottom: 3%;
    width: 50%;
}

.customSelect {
    position: relative;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    padding-left: 0.5%;
    margin-left: 1%; 
    height: 40px;
    width: 8%;
}