.accordion {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.likeBtn {
    border: none;
    background-color: whitesmoke;
}

.dislikeBtn {
    border: none;
    background-color: whitesmoke;
}

.fa-like:hover {
    color: black;
}

.fa-dislike:hover {
    color: black;
}

.srchTitle {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}