@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

body {
    font-family: 'Poppins';
}

.parent {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

.likedQs {
    margin-top: 4%;
}

.row {
    margin: 1% 2% 1% 2%; 
}

#questions {
    height: 50%;
}

.list-group {
    height: 70%;
    padding-top: 2%;
}

